@tailwind base;
@tailwind components;
@tailwind utilities;

.example-track {
  position: relative;
  background: #18171f;
  padding: 4px;
  border-radius: 0.5rem;
}
.example-track.example-track-0 {
  padding: 4px;
  background: #a3ffae;
  border-radius: 0.5rem;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
